*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#23034c;
    color: #ffff;
    font-family: sans-serif;
}
nav{
    background-color: black;
    overflow: hidden;
    /* isse wo upr kaise chle gye??????????????????
    float left krne ke baad ab color black gayab ho rha iske bina */
}

#nav-left{
    display: flex;
    float: left;
}
#logo{
    height:50px;
    width:50px;
    margin: 10px;
    border-radius: 50%;
    border: 2px solid red;
}
#T{
    font-size: 70px;
    
}
#website-name{
 
    margin-top:20px;

}
.gradient-color{
    background: -webkit-linear-gradient(#ed13cd, #380976);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* navbar */
.nav-menu{
    margin:20px;
    float: right;
   
}
.nav-menu ul li{
    
    list-style: none;
    display: inline-block;
    margin-right:30px;
    /* margin-bottom: 20px; */
    padding:10px;
}
.nav-menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
   
    padding: 10px;
}
.nav-menu ul li a:hover{
    border-bottom: 2px solid wheat;
    

}

section{
   
    height: 70vh;
    width: 100%;
}

/* footer */
footer{
    background-color: black;
    overflow: hidden;
}
.social-icons{
    color: white;
    margin: auto;  
    float: left;
    
}
.social-icons ul li{
    list-style: none;
    display: inline-block;
    margin-right:30px;
    font-size: 30px;

    padding:10px;
}
#copyright{
    display: flex;
    padding:10px;
    margin:20px 10px;
    float: right;
    

}
#copyright i{
    margin-right: 5px;
    padding: 3px;
}

