body{
    /* background:linear-gradient(90deg ,#40244a,rgb(39, 39, 87)); */
    /* background:linear-gradient(to right,#da34c1,#47138a); */
    background-color:#23034c;
    color: white;
    font-family: sans-serif;
}
div{
    /* border: 1px solid white; */
}

nav{
    display: flex;
    justify-content: space-between;
    
}
#nav-left{
    display: flex;
}
#nav-right{
    display: flex;
}
#logo{
    height:50px;
    width:50px;
    margin: 10px;
    border-radius: 50%;
    border: 2px solid red;
}
#notification{
    font-size: 1.5rem;
    margin:20px;
    margin-right: 25px;
    cursor: pointer;
}
#notification:hover{
    color:red
}


#profile{
    height: 50px;
    width: 50px;
    margin: 10px; 
    cursor: pointer;
    }

#profile img{
    height: 100%;
    width: 100%;
    border-radius: 50%; 
   
}
#search-bar{
    margin: 20px;
    width:250px;
    height:20px;
    background-color: rgb(33, 33, 72);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding:5px 10px;
    
}
#search-bar input{
    background: transparent;
    border: 0;
    overflow: none;
}
input:focus{
    background:transparent;
    outline: none;
    color: #ffff;
}
input[placeholder]{
    text-align: center;
    font-size: 15px;
    
    

}
/* #search-bar span{
    margin-left: 5px;
    font-size: 0.8rem;
    font-family: sans-serif;
    color: lightgray;
} */
#mic{
    margin-right: 5px;
    margin-top: 2px;
    cursor: pointer;
}
main{
    display: inline-block;
    width: 75%;
}
.upper-section{
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
}
.image-upper-section{
    margin: 10px;
    height: 250px;
    width: 250px;
    cursor: pointer;
   

}
.image-upper-section:hover{
    transform: scale(1.1);
    
}

.image-upper-section img{
    height: 100%;
    width: 100%;
}
#latest-release,.popular-artist,.charts,.mood{
    margin-left: 40px;
    

}
.latest-song-list{
    display: flex;
    flex-wrap: wrap;  
    
}
section h2{
    margin-left: 10px;
}
.latest-song-image{
    height: 70px;
    width: 70px;
    margin: 10px;

}
.latest-song{
    display: flex;
    font-size: 1rem;
    width:40%;
  
    margin-left:5px;
    
}
.song-details{
    margin:4px;

}
.song-menu{
    display: flex;
    flex-direction: row-reverse ;
width:40%;


}
.song-title{
    margin: 20px 0px 0px;

}
.song-date{
    margin: 6px 0px 0px;
}

.latest-song-image img{
    height: 100%;
    width: 100%;
}
/* artist list */
.artist-list{
    display: flex;
    
}
.artist{
    margin:10px;
    margin-right: 25px;
    cursor: pointer;
}
.artist-image{
    height: 100px;
    width: 100px;
}
.artist-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.artist h5{
    text-align: center;
 margin: 5px;
 
}
/* mood-list */
.mood{
    margin-top: 20px;
    
}
.moods{
    position: relative;
}
.mood-name{
    position: absolute;
    margin: auto;
    height: 100%;
    transition: all 0.5s ease-in-out;
    top:0;
    left:0px;
    padding: 10px;
}
.mood-list{
    display: flex;
}
.mood-image{
    height: 120px;
    width: 180px;
    filter: blur(2px);
    margin:40px;    
}
.mood-image img{
    height: 100%;
    width: 100%;
}



/* chart */
.charts-list{
    display: flex;
}
.chart{
    background-color: rgb(34, 34, 68);
    padding:20px;
    margin:20px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.chart-image{
    height: 200px;
    width: 200px;
}
.chart-image img{
    height: 100%;
    width: 100%;
}
.chart-details{
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}
.chart-details i{
    font-size: 50px;
   
}
.chart:hover{
    box-shadow: 0 0 20px #74ADC8;
}
.chart:hover .chart-details{
    
    
    color:rgb(221, 11, 11);
}


/* aside */
aside{
    display: inline-block;
    vertical-align: top;
    width:21%;
    height:100vh;
    /* position: fixed; */
    
    overflow: auto;
}
#queue{
    background-color: transparent;
    color: white;
    border: 0px;
}
#playlist{
     overflow: scroll;
     /*  
    display: flex;
    flex-direction: column;
    flex-grow: 1; */
    

}
.queue-header{
    display: flex;
    justify-content: space-between;
    
}
.queue-header h3{
    margin: 0px;
}
.songs{
    display: flex;
    position: relative;
    
    
    /* background-color: aliceblue;
    ismei like wala include kyun nhi ho rha???????? */
    /* background-color: aliceblue; */    
}
.songs i{
   position: absolute;
   top:5px;
   right: 5px;
 
  margin-top: 20px;   
    
}
.song-image{
    height:40px;
    width: 40px;
    margin:12px;
    box-shadow: 0 0 10px #74ADC8;
}
.song-image img{
    height:100%;
    width: 100%;
}
